header{
    position: fixed;
    display: flex;
    grid-area: header;
}
main{
    grid-area: main;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form {
    width: 550px;
    height: 550px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}