body{
    background-color: antiquewhite;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header"
        "main main";
        
    grid-template-rows: 80px 1fr 90px;
    grid-template-columns: 1fr 250px;
}
.nav {
    background-color: #b9522d;
    height: 30px;
    list-style: none;
    padding: 0; 
    width: 100vw;
   
}
.nav li{
    float: left;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 260px;
    
}
ul .nav li{
    justify-content: center;    
}
.nav a{
    color: white;
}
.nav .current{
    background-color: #a64a28;
    box-shadow: inset 0 0 10px;
}